fieldset.start,
fieldset.end {
   border: none;
  margin-left: 7.8rem;
}

.start {
  margin-top: 10.3rem;
}

.end {  
  margin-top: 3rem;

}

legend {
  font: var(--heading-md);
  color: var(--text-heading);

  display: flex;

  align-items: center;
  gap: 1rem;
  padding-bottom: 30px;

}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-one {
  /* display: flex; */
  margin-top: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form-row+.form-row {
  margin-top: 1rem;
  /* afasta só quando um form-group vem logo depois de um form-row */
}

label {
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: .5rem;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"],
input[type="text"],
input[type="datetime-local"],
input[type="time"] {
  color: var(--input-placeholder);
}


input[type="text"],
input[type="datetime-local"] {
  background-color: var(--input-base);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--input-stroke);
}

input[type="datetime-local"] {
  width: 272px;
  height: 48px;

}

input[type="text"] {
  width: 157px;
  height: 48px;
}

textarea {
  width: 560px;
  height: 136px;
  border-radius: .5rem;
  padding: 1rem;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  color: var(--text-body);
  font: var(--body-sm);

  resize: none;
}

textarea::placeholder {
  color: var(--input-placeholder);
}


input::placeholder {
  color: var(--input-placeholder);
}

.options {
  display: flex;
  gap: .75rem;
  padding: .3rem;
  border-radius: 12px;
  border: 2px solid var(--input-stroke);
  width: 272px;
  height: 48px;

}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 130px;
  height: 34px;
  gap: 8px;

  background: transparent;
  color: var(--text-body);
  font: var(--body-sm);
  cursor: pointer;
}

.options label svg {
  width: 16px;
  height: 16px;
  color: var(--text-body);
  transition: color .2s;

}

.options input[type="radio"]:checked+label svg {
  color: var(--brand-light);
}

.options input[type="radio"]:checked+label {
  background-color: var(--shape-button);
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

#local {
  width: 272px;
  height: 48px;
}

.pallet {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: .5rem;
}

.pallet input[type="radio"] {
  display: none;
}

.pallet label {
  background: var(--shape-button);
  border: 1px solid var(--input-stroke);
  border-radius: 50%;
  padding: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pallet input[type="radio"]:checked + label {
  border: 2px solid var(--brand-light);
}

.form-label {
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: .5rem;
}